<p>
following:<br>
<% Relation.where(:user_id => @user.id).each do |relation| %>
	<% following = User.find(relation.to_user_id) %>
	<%= link_to image_tag(following.icon), user_path(following.name) %>
	<%= following.id %>
	<%= link_to following.name, user_path(following.name) %>
<% end %>
</p>
